#navbar-brand
{
	color: white;
}
#navbar-logo
{
	color: white;
	font-weight: bold;
	font-family:    Segoe UI;
	margin-left: 200px;
	font-size: 1.8rem;
}
#first-container-fluid
{
	width: 100%;
	height: 588px;
	background-color: #D7DBDD;
}
#first-container-fluid-2
{
	width: 100%;
	height: 350px;
	background-color: white;
	margin-top: 100px;
}
#first-container-fluid-2-h3-1
{
	margin-top: 20px;
	font-size: 1.4rem;
}
#exampleInputEmail1
{
	width:280px;
	height: 40px;
	margin-left: 190px;
	margin-top: 20px;
	border:0.3rem #CCD1D1;
	background-color: #F8F9F9;
	
}

#exampleInputEmail1:hover
{
	width:280px;
	height: 40px;
	margin-left: 190px;
	margin-top: 20px;
	border:0.3rem #CCD1D1;
	background-color: #F8F9F9;
	box-shadow: white;
}

#exampleInputPassword1
{
	width:280px;
	height: 40px;
	margin-left: 190px;
	border:3rem #95A5A6;
	background-color: #F8F9F9;
	margin-top: 20px;

}
#first-container-fluid-btn
{
	width: 280px;

	margin-left: 190px;
	background-color: #3b5998;
	border: 1px solid  #3b5998;
	margin-top: 10px;
	font-weight: bold;
}
#first-container-fluid-2-h3-2
{
	color: #7F8C8D;
	font-size: 1.1rem;
	margin-top: 8px;
}
#first-container-fluid-2-p 
{
	
	padding: 10px;
	
  
}
#first-container-fluid-2-p-button a
{
	color: white;
	text-decoration: none;

}
#first-container-fluid-2-p-button
{
	
	background-color:#32CD32;
	border:2px solid #32CD32;
	margin-left: 190px;
	padding-right: 43px;
	padding-left: 43px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	font-weight: bold;
	font-family: Roboto;
}
#first-container-fluid-2-p-button:hover
{
	
	background-color:#32CD32;
	border:2px solid #32CD32;
	margin-left: 190px;
	padding-right: 43px;
	padding-left: 43px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	font-weight: bold;
	font-family: Roboto;

}
#nav-home-tab
{
	border:1px solid white;
  	
}

#nav-home-tab;hover
{
	border:1px solid white;
  	background-color: white;
}
#nav-home
{
width: 100%;
height: 500px;
background-color: black;
}
/**css for index-1.php has end here**/
/**css for index-2.php has start here**/
#navbar-brand
{
	color: white;
}
#navbar-logo
{
	color: white;
	font-weight: bold;
	font-family:    Segoe UI;
	margin-left: 200px;
	font-size: 1.8rem;
}
#first-container-fluid-1
{
	width: 100%;
	height: 588px;
	background-color: #D7DBDD;
}
#first-container-fluid-2-1
{
	width: 100%;
	height: 350px;
	background-color: white;
	margin-top: 100px;
}
#first-container-fluid-2-h3-1-1
{
	margin-top: 20px;
	font-size: 1.4rem;
}
#exampleInputEmail1-1
{
	width:280px;
	height: 40px;
	margin-left: 190px;
	margin-top: 20px;
	border:0.3rem #CCD1D1;
	background-color: #F8F9F9;
	
}

#exampleInputEmail1-1:hover
{
	width:280px;
	height: 40px;
	margin-left: 190px;
	margin-top: 20px;
	border:0.3rem #CCD1D1;
	background-color: #F8F9F9;
	box-shadow: white;
}

#exampleInputPassword1-1
{
	width:280px;
	height: 40px;
	margin-left: 190px;
	border:3rem #95A5A6;
	background-color: #F8F9F9;
	margin-top: 20px;
}
#validationCustomUsername
{
	width:280px;
	height: 40px;
	margin-left: 190px;
	margin-top: 20px;
	border:0.3rem #CCD1D1;
	background-color: #F8F9F9;
}
#validationCustomUsername:hover
{
	width:280px;
	height: 40px;
	margin-left: 190px;
	margin-top: 20px;
	border:0.3rem #CCD1D1;
	background-color: #F8F9F9;
	box-shadow: white;
}
#first-container-fluid-btn-1
{
	width: 280px;

	margin-left: 190px;
	background-color: #3b5998;
	border: 1px solid  #3b5998;
	margin-top: 10px;
	font-weight: bold;
}
#inlineFormInputGroup-1
{
	width:280px;
	height: 40px;
	margin-left: 190px;
	margin-top: 20px;
	border:0.3rem #CCD1D1;
	background-color: #F8F9F9;
	
}

/**css for index-2.php has end here**/
#aaa
{
	padding: 10px;
	background-color: #283747;
}