#navbar-brand
{
	color: white;
}
#navbar-logo
{
	color: white;
	font-weight: bold;
	font-family:    Segoe UI;
	margin-left: 200px;
	font-size: 1.8rem;
}
#first-container-fluid-1
{
	width: 100%;
	height: 588px;
	background-color: #D7DBDD;
}
#first-container-fluid-2-1
{
	width: 100%;
	height: 350px;
	background-color: white;
	margin-top: 100px;
}
#first-container-fluid-2-h3-1-1
{
	margin-top: 20px;
	font-size: 1.4rem;
}
#exampleInputEmail1-1
{
	width:280px;
	height: 40px;
	margin-left: 190px;
	margin-top: 20px;
	border:0.3rem #CCD1D1;
	background-color: #F8F9F9;
	
}

#exampleInputEmail1-1:hover
{
	width:280px;
	height: 40px;
	margin-left: 190px;
	margin-top: 20px;
	border:0.3rem #CCD1D1;
	background-color: #F8F9F9;
	box-shadow: white;
}

#exampleInputPassword1-1
{
	width:280px;
	height: 40px;
	margin-left: 190px;
	border:3rem #95A5A6;
	background-color: #F8F9F9;
	margin-top: 20px;
}
#first-container-fluid-btn-1
{
	width: 280px;

	margin-left: 190px;
	background-color: #3b5998;
	border: 1px solid  #3b5998;
	margin-top: 10px;
	font-weight: bold;
}
#inlineFormInputGroup-1
{
	width:280px;
	height: 40px;
	margin-left: 190px;
	margin-top: 20px;
	border:0.3rem #CCD1D1;
	background-color: #F8F9F9;
	
}
