*,body
{
	margin: 0;
	padding: 0;
}
#nav-container
{
	background-color:  #3b5998;
	width: 100%;
	height: 80px;
	line-height: 4rem;

}
#nav-home-tab
{
	border:1px solid #3b5998;
	color: white;
	background-color:#3b5998;
	font-weight: bold;
}
#nav-home-tab:hover
{
	border:1px solid #3b5998;
	color:  #808000;
	background-color:#3b5998;
	font-weight: bold;
}

#nav-profile-tab
{
	border:1px solid #3b5998;
	color: white;
	background-color:#3b5998;
	font-weight: bold;
}
#nav-profile-tab:hover
{
	border:1px solid #3b5998;
	color: #808000;
	background-color:  #3b5998;
	font-weight: bold;
}

#nav-home
{
	width: 100%;
	height: 800px;
    background: linear-gradient(225deg, #a013ca, #a842ce, #7f199d, #c51dbe);
    background-size: 800% 800%;
    animation: AnimationName 8s ease infinite;
    
}

@keyframes AnimationName {
    0%{background-position:0% 80%}
    50%{background-position:100% 80%}
    100%{background-position:0% 80%}
}
#nav-profile
{
	width: 100%;
	height: 500px;
	background-color:;
	margin-top: 90px;
}
/*css for tab-1 starts here*/
#exampleInputFile
{
	width: 100%;
	height: 300px;
}

#exampleFormControlFile1
{
	margin-top: 150px;
  width:300px;
  margin-left:520px; 
 animation: fadeInleft  5s linear 2s infinite alternate;
}
#nav-profile-h3
{
	font-family: verdana;
	font-weight: bold;
}